#view {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  #view-content {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
  }
  #view-content img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 90vh;
  }

@media (max-width: 575px) {
  #view-content {
    max-width: 100vw;
    max-height: 100vh;
  }
  #view-content img {
    max-height: 100vh;
  }
}
